/* FUENTES */
@font-face {
    font-family: 'cursiva-elegante';
    src: url('../fonts/Thesignature.ttf')format('truetype');
}

/* 
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

.body-index-page {
    background-color: black;
    color: azure;
    font-weight: 300;
    line-height: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-index-page {
    background: transparent;
    width: 100%;
    height: 15%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    position: absolute;
    animation: initializeHeader 1s ease-in-out 1 both;
    /*para que se muestre primero el resto y desp el header*/
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
    z-index: 5;
}

.container-nav {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.logo {
    width: 20vw;
    max-width: 100px;
    margin: 5% 15%;
    opacity: 0.8;
    border-radius: 5%;
}

.container-nav>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu,
.menu>a {
    color: rgb(249, 247, 247);
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.line {
    display: inline-blfk;
    position: relative;
    color: azure;
}

.line::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: azure;
    transform-origin: middle;
    transition: transform 0.25s ease-out;
}

.line:hover::after {
    transform: scaleX(1);
    transform-origin: middle;
}

main.index {
    background-color: rgb(11, 10, 10);
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    z-index: 1;
}

.container-medio {
    grid-column: 2/3;
    width: 100%;
    height: 25%;
    align-self: center;
    justify-self: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.container-medio>h1 {
    text-transform: lowercase;
    font-weight: 100;
    line-height: 7rem;
    text-align: center;
    font-size: 10rem;
    font-family: 'cursiva-elegante';
    animation: showName 2.5s ease-out 0.8s 1 both;
}

.key-phrases {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0% 3%;
    font-family: 'Ysabeau SC', sans-serif;
    animation: showName 2.5s ease-out 0.8s 1 both;
}

#background-vid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: videoFadeIn 2s ease-out 1;
    z-index: -5;
}

#background-vid video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vw;
    min-height: 100vh;
    min-width: 177.77vh;
    transform: translate(-50%, -50%);
}

#scroll-me {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 40px;
    opacity: .35;
    transform: translateX(-50%);
    animation: highlightScroll 1s ease-in-out infinite alternate;
    transition: opacity .25s ease-in-out, animation .25s ease-in-out;
    z-index: 3;
}

.scroll-dot {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(50%);
    transform-origin: 0 0;
    animation: circleScroll 2s cubic-bezier(.65, -.55, .25, 1.5) infinite alternate;
}

.index-section {
    display: flex;
    position: relative;
    background-image: url(../resources/about-us-pic.webp),
        linear-gradient(to bottom, #545e83, #6b6d95, #827da7, #9a8cb9, #b39cca, #b59dcc, #b69fcf, #b8a0d1, #a393c5, #8d87b9, #787bac, #626f9f);
    background-repeat: no-repeat;
    background-position: 12%;
    background-size: contain;
    opacity: 0.9;
    min-height: 110vh;
    max-height: min-content;
    width: 100%;
    align-items: center;
}

.fondo-about {
    min-height: 110vh;
}

.container-about {
    height: 80%;
    margin: 5% 8% 5% 40%;
    display: flex;

}

.nosotros {
    background-color: rgba(4, 0, 5, 0.226);
    border-radius: 10%;
    padding: 5% 8%;
}

.nosotros>h2 {
    line-height: 4rem;
    margin-bottom: 5px;
    font-size: 2rem;
    font-family: 'Ysabeau SC';
}

.nosotros>p {
    color: rgb(224, 222, 251);
    line-height: 2rem;
    font-family: 'Wix Madefor Display';
    font-size: 1.2rem;
}

.brand {
    font-weight: 600;
    text-shadow: 0 0 2px azure;
    font-family: 'Edu QLD Beginner';
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.bottom {
    margin-top: 3%;
    display: flex;
    position: relative;
    justify-content: right;
    line-height: 5rem;
    text-align: center;
}

.bottom>a {
    padding: 5px 10px;
    margin: 5px 10px;
    align-self: center;
    justify-content: right;
    border: 2px solid rgba(255, 255, 255, 0.344);
    line-height: 2rem;
}

.bottom>a:hover {
    border: 2px solid azure;
    background-color: rgba(134, 151, 197, 0.658);
}

.bottom>a:active {
    background-color: azure;
    color: #3d0c1a;
}

footer {
    color: #f3eef2;
    background-color: #000000;
    margin-top: 1%;
    padding: 2% 5%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 2fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

#footerImagen {
    width: 150px;
    border-radius: 5px;
    opacity: 0.9;
}

footer>ul>li {
    list-style-type: none;
    font-family: 'Ysabeau SC';
}

.redes-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
    filter: invert(80%);
}

.redes {
    width: 30px;
}

.footer-contacto {
    text-align: center;
}

.footer-contacto a {
    text-decoration: none;
    font-family: 'Ysabeau SC';
    color: white;
}

.copy::after {
    content: "  ©";
}

.copy {
    line-height: 0.2;
}

.copy,
.copy~p {
    color: #b8b8b8;
    text-align: center;
    margin-bottom: 1px;
    grid-column: 1/4;
}


@media screen and (max-width: 960px) {

    .index-section {
        background-size: cover;
    }

    .container-about {
        margin: 10%
    }
}

/*ANIMATION TRANSITIONS*/
@keyframes videoFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showName {
    0% {
        transform: scale(.65);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes initializeHeader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes highlightScroll {

    0%,
    50% {
        opacity: .35;
    }

    100% {
        opacity: 1;
    }
}

@keyframes circleScroll {

    0%,
    20% {
        transform: translateY(0) scaleY(0.9);
    }
}

/* css para las otras pestañas */
/* esto afecta solo a las otras pestañas que no son index */
.body-pestañas {
    background-image: linear-gradient(to bottom, #545e83, #6b6d95, #827da7, #9a8cb9, #b39cca, #b59dcc, #b69fcf, #b8a0d1, #a393c5, #8d87b9, #787bac, #626f9f);
}

.header-pestañas {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.373);
    z-index: 2;
}

.main-pestañas {
    padding: 0 20px 50px;
    height: 100%;
}

.main-pestañas>h2 {
    color: azure;
    text-shadow: 0 0 10px black;
    text-transform: capitalize;
    font-weight: 100;
    line-height: 6rem;
    margin: 7% 0 5%;
    text-align: center;
    font-size: 8rem;
    font-family: 'cursiva-elegante';
}

.intro-main {
    line-height: 2rem;
    margin: 0 8% 2%;
    font-size: 1.2rem;
    font-family: 'Wix Madefor Display';
    text-shadow: 0 0 5px rgb(209, 209, 211);
}

.intro-link {
    text-align: center;
    margin: 0 6% 4%;
}

.intro-link>a {
    color: #faf9fcfc;
    text-shadow: 0 0 5px rgb(29, 7, 128);
    box-shadow: 0 0 3px rgb(34, 23, 235);
    ;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    border: 2px solid rgba(255, 255, 255, 0.344);
    line-height: 2rem;
}

.intro-link>a:hover {
    border: 2px solid azure;
    background-color: rgba(134, 151, 197, 0.658);
}

.intro-link>a:active {
    background-color: azure;
    color: #010101;
    text-shadow: none;
}

.fondo-cards>h3,
.main-pestañas>h3 {
    margin: 2% 0 4% 3%;
    font-size: 1.5rem;
    font-family: 'Ysabeau SC';
    text-transform: uppercase;
    color: azure;
    text-shadow: 0 0 10px black;
}

.fondo-cards {
    background-color: rgba(75, 68, 80, 0.331);
    padding: 50px 20px;
    border-radius: 20px;
    z-index: -5;
    height: 100%;
}

/*PESTAÑA AGENTES*/
.profesionales-container {
    display: grid;
    height: 100%;
    gap: 3%;
    margin: 2%;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
}

.container-card {
    border: 2px solid rgb(6, 6, 6);
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 20px;
    color: #090909;
    display: grid;
    grid-template-areas:
        'foto nombre nombre . '
        'foto nombre nombre profesion '
        'foto nombre nombre . '
        'foto matricula matricula . '
        'foto desc desc desc '
        'foto . cont cont ';
    grid-template-columns: repeat(auto-fit, minmax(1fr, 100%));
}

.prof-photo {
    grid-area: foto;
    margin: 5%;
    width: 200px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.381);
    border-radius: 20px;
}

.name {
    grid-area: nombre;
    width: 95%;
    border-bottom: 1px solid rgb(0, 0, 0);
    justify-content: center;
    font-family: 'AR One Sans', sans-serif;
}

.profesion {
    grid-area: profesion;
    justify-content: left;
    font-family: 'AR One Sans', sans-serif;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.matricula {
    grid-area: matricula;
    margin: 5px 0 0 20px;
    font-family: 'AR One Sans', sans-serif;
}

.descripcion {
    grid-area: desc;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: rgb(98, 90, 124);
    padding-right: 20px;
}

.container-contacto {
    grid-area: cont;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 30px;
}

.container-contacto a {
    color: rgb(15, 7, 112);
}

.container-contacto a:active {
    color: #81b2e6;
}

.contacto-mail,
.contacto-tel {
    height: fit-content;
    justify-self: right;
}

.box-style {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 4px;
}


#app{
    display:block;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    margin: 5% 0 4% 0;
}
.other-agents-title{
    margin: 5% 0 4% 0;
    font-size: 1.5rem;
    font-family: 'Ysabeau SC';
    text-transform: uppercase;
    color: azure;
    text-shadow: 0 0 10px black;
}
.other-agents-container{
    display: inline-block;
    border: 2px solid #532e75;
    margin: 20px;
    max-width: fit-content;
    box-shadow: 0px 0px 10px rgba(9, 6, 10, 0.951); 
    background-image: linear-gradient(to bottom, #6a2d7cb2, #051a2f, #1a2657, #4d2a77, #8b19876b);
}
.nombre-agente{
    text-align: left;
    padding: 7px 0 10px 5px;
    font-family: 'Ysabeau SC';
    font-weight: 600;
    color: azure;
    text-shadow: 0px 0px 15px rgb(9, 6, 10); 
}
.agente-pic{
    margin: 0 10px 0 10px;
    width: 150px;
    border: 1px solid black;
    
}
.tel{
    padding: 10px 7px 0 0; 
}
.agente-info{
    text-align: right;
    padding: 10px 7px 7px 0;   
    font-family: 'Ysabeau SC';
    color: azure;
    text-shadow: 0px 0px 15px rgb(9, 6, 10); 
}


@media screen and (max-width: 730px) {
    .container-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 75vw;
        padding-bottom: 25px;
        height: 100%
    }

    .intro-link {
        margin: 25px;
    }

    .fondo-cards {
        padding-bottom: 100px;
        height: 100%;
    }

    .profesionales-container {
        gap: 2%
    }

}

/*PESTAÑA PROPIEDADES*/
/* Estilos generales */
.intro-main~.link2 {
    padding-top: 3%
}

.seccion_card {
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.container-cards {
    text-align: center;
}

/* Estilos de la tarjeta */
.card {
    width: 380px;
    height: 100%;
    display: inline-block;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin: 15px 50px 5px 50px;
    padding: 15px;
    border: 2px solid rgb(6, 6, 6);
    border-radius: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid grey;
}

.card h3 {
    font-size: 1.3rem;
    margin: 10px 0;
    color: #000000ce;
    font-family: 'AR One Sans', sans-serif;
}

.card p {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: rgb(98, 90, 124);
    margin-bottom: 3%;
}


.precio {
    font-size: 1.3rem !important;
    color: #ab10c0 !important;
    font-weight: bold !important;
    margin: 0;
}

/* Estilos del Formulario */

.btn-MostrarForm,
.btn-Detalles {
    width: 40%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px;
}

.btn-MostrarForm {
    background-color: #0e8240;
}

.btn-MostrarForm:hover {
    background-color: #055c18;
}

.btn-Detalles {
    background-color: #007bff;
}

.btn-Detalles:hover {
    background-color: #0056b3;
}

form {
    width: 100%;
    background-color: #f9f7f7cb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-top: 5px;
    text-align: center;
}

.enviar,
.cerrar {
    width: 90px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.cerrar {
    margin: 10px 10px;
    background-color: #cf2c2c;
    color: azure;
    
}

.enviar {
    padding: 0;
    border: 2px solid black;
    background-color: #3a118687;
    color: azure;
}

.enviar:hover {
    background-color: #5d1081;
    transition: all 0.5s;
}

.cerrar:hover {
    background-color: #ab0b0b;
    transition: all 0.5s;
}

#FormContainer {
    width: 350px;
    background-color: #690e57cc;
    margin-top: 90vh;
    position: absolute;
    left: 40%;
    top: 5%;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 5;
}

form label {
    display: block;
    background-color: #690e5718;
}

form input {
    margin: 5px auto;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    font-size: 1rem;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #f30505;
    border-radius: 4px;
    resize: none;
}

/* Estilos del Cuadro Mas Detalles */

.Mas_Detalles {
    width: 50%;
    height: 80%;
    text-align: left;
    background-image: linear-gradient(to right bottom, #000102, #051a2f, #1a2657, #4d2a77, #8b1987);
    color: azure;
    position: absolute;
    left: 25%;
    top: 20px;
    margin-top: 85vh;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.67);
    padding: 5px;
    border: solid black 2px;
    overflow: scroll;
    word-wrap: break-word;
    z-index: 5;
}

.Mas_Detalles img {
    width: 100%;
    border-radius: 5px;
}

.Mas_Detalles>h3 {
    font-family: 'Ysabeau SC';
}

.Precio {
    font-weight: 800;
}

.Mas_Detalles>p {
    font-family: "Quicksand";
    padding-top: 2%;
}

.cerrarCuadro {
    background-color: #fd0505e9;
    width: 25px;
    height: 25px;
    padding: 0 1px;
    position: sticky;
    top: 0;
    right:0;
    border-radius: 30%;
    cursor: pointer;
}

.cerrarCuadro:hover {
    background-color: #ad1111;
    transition: all 0.5s;
}

.btn-imagen {
    border-radius: 3px;
    width: 100% !important;
    height: 100% !important;

}

.Ubicacion {
    width: 100%;
    height: 150px;
    margin: 10px 0;
}

/**/
/**/
/**/

@media screen and (max-width: 580px) {
    /*Inicio breakpoint smarphones*/

    /* Estilos de la tarjeta */
    .card {
        width: 80%;
        height: 100%;
        display: inline-block;
        margin: 15px 10px 5px 10px;
        padding-bottom: 20px;
        font-size: 1rem;
    }

    .card img {
        width: 100%;
        border-radius: 5px;
    }

    .card h3 {
        font-size: 1rem;
        margin: 10px 0;
    }

    .card p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 3%;
    }

    .precio {
        font-size: 1.1rem !important;
        font-weight: bold !important;
    }

    /* Estilos del Formulario */

    .btn-MostrarForm,
    .btn-Detalles {
        width: 35%;
        padding: 10px 20px;
        font-size: 0.9rem;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 20px;
    }

    .btn-MostrarForm {
        background-color: #0e8240;
    }

    .btn-MostrarForm:hover {
        background-color: #055c18;
    }

    .btn-Detalles {
        width: 40%;
        background-color: #007bff;
    }

    .btn-Detalles:hover {
        background-color: #0056b3;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    form h2 {
        margin: 3% 0;
        text-align: center;
        font-size: 1.2rem;
    }

    form label {
        display: block;
    }

    form input {
        margin: 5px auto;
        width: 90%;
        height: 20px;
    }

    #FormContainer {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 5%;
        z-index: 5;
    }


    /* Estilos del Cuadro Mas Detalles */

    .Mas_Detalles {
        width: 80%;
        height: 80%;
        position: absolute;
        left: 10%;
        z-index: 10;
        border-radius: 5px;
        z-index: 5;
    }

    .Mas_Detalles img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }

    .Ubicacion {
        width: 100%;
        margin: 40px 0 10px;
    }

    /*Finalizacion breakpoint smarphones*/
}

@media screen and (min-width: 1700px) {
    /*Inicio breakpoint Monitores*/

    .Seccion_Card {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .SubTitulo {
        font-size: 2rem;
        margin: 5px 0 10px 0px;
    }

    /* Estilos de la tarjeta */
    .card {
        width: 450px;
        height: 550px;
        display: inline-block;
        margin: 30px 20px 5px 30px;
        padding: 15px;
    }

    .card img {
        width: 100%;
        border-radius: 5px;
    }

    .card h3 {
        font-size: 1.6rem;
        margin: 10px 0;
    }

    .card p {
        font-size: 1.3rem;
        margin-bottom: 3%;
    }

    .Ubicacion {

        width: 100%;
        height: 200px;
        margin: 10px 0;
    }

    .precio {
        font-size: 1.6rem !important;
        font-weight: bold !important;
        margin: 20px 0 0 5px;
    }

    /* Estilos del Formulario */

    .btn-MostrarForm {
        width: 40%;
        padding: 10px 20px;
        font-size: 1.4rem;
        background-color: #0e8240;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 20px;
    }

    .btn-MostrarForm:hover {
        background-color: #055c18;
    }

    .btn-Detalles {
        width: 40%;
        padding: 10px 20px;
        font-size: 1.4rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 20px;
    }

    .btn-Detalles:hover {
        background-color: #0056b3;
    }

    form {
        width: 100%px;
        background-color: #f9f7f7cb;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }

    form h2 {
        margin-top: 5px;
        text-align: center;
        font-size: 1.6rem;
    }

    .enviar {
        margin: 10px 10px;
        width: 100px;
        height: 50px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 1.3rem;
    }

    .enviar:hover {
        background-color: #bbbbbb;
        transition: all 0.5s;
    }

    .cerrar {
        margin: 10px 10px;
        width: 100px;
        height: 50px;
        border-radius: 3px;
        background-color: #cf2c2c;
        font-size: 1.3rem;

    }

    .cerrar:hover {
        background-color: #ab0b0b;
        transition: all 0.5s;
    }

    #FormContainer {
        width: 20%;
        background-color: #737070cc;
        position: absolute;
        left: 40%;
        top: 10%;
        z-index: 10;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.31);
    }

    /* Estilos del Cuadro Mas Detalles */

    .Mas_Detalles {

        width: 50%;
        height: 80%;
        background-color: #ded8d8;
        position: absolute;
        left: 25%;
        top: 20px;
        z-index: 10;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 5px;
        border: solid black 2px;
        overflow: scroll;
        word-wrap: break-word;
        font-size: 1.4rem;

    }

    .Mas_Detalles img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
    }

    .cerrarCuadro {
        background-color: #e33333;
        width: 50px;
        height: 45px;
        margin-bottom: 2px;
        padding: 1px;
        border-radius: 3px;
        cursor: pointer;
    }

    .cerrarCuadro:hover {
        background-color: #ad1111;
        transition: all 0.5s;
    }

    .btn-imagen {
        border-radius: 3px;
        width: 100% !important;
        height: 100% !important;

    }

}

/*Finalizacion breakpoint Monitores*/

/*PESTAÑA VENDE*/
.form-intro {
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
}

.body-form {
    background-image: url(../resources/casa_form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario {
    background: rgba(239, 238, 238, 0);
    grid-column: 2/5;
    display: grid;
    /* justify-content: center; */
    gap: 10px;
    margin: 3% auto;
    grid-template-areas:
        'nombre ap'
        'loc loc'
        'mail tel'
        'com com'
        'com com'
        'env borrar';
    max-width: 60%;

}

input {
    color: #4c4c4c;
    border: none;
    border-radius: 5px;
    background-color: rgba(214, 214, 214, 0.653);
    width: 100%;
    padding: 25px 5px;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

input::placeholder {
    color: #020101;
    font-weight: 300;
}

textarea {
    color: #4c4c4c;
    border: none;
    border-radius: 5px;
    background-color: rgba(214, 214, 214, 0.653);
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

textarea::placeholder {
    color: #070707;
    font-weight: 300;
}

.enviar-form,
.borrar-form {
    background-color: rgba(230, 230, 255, 0.8);
    color: #070707;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    width: 50%;
    justify-self: center;
}

.enviar-form:hover,
.borrar-form:hover {
    background-color: rgba(146, 146, 193, 0.8);
}

.enviar-form:active,
.borrar-form:active {
    background-color: rgba(73, 73, 110, 0.8);
    color: azure
}

.nombre-form {
    grid-area: nombre;
}

.apellido-form {
    grid-area: ap;
}

.localidad-form {
    grid-area: loc;
}

.email-form {
    grid-area: mail;
}

.tel-form {
    grid-area: tel;
}

.comentarios-form {
    grid-area: com;
}

.enviar-form {
    grid-area: env;
}

.borrar-form {
    grid-area: borrar;
}

.error {
    color: rgb(255, 255, 255);
    background-color: rgba(202, 64, 64, 0.497);
    width: 40%;
    border-radius: 7px;
    text-align: center;
    display: block;
}

.invalid {
    box-shadow: 0 0 10px rgb(246, 13, 13);
}


@media screen and (max-width: 800px) {
    .formulario {
        max-width: 80%;
    }

    .container-formulario input {
        width: 100%;
    }
}