*{
    margin: 0; padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
}

body {
    color: #fff;
    font-weight: 300;
    line-height: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background: transparent;
    width: 100%;
    height: 15%;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);    
    position: absolute;
    animation: initializeHeader .5s ease-in-out 1 both;
    /*para que se muestre primero el resto y desp el header*/
    transition: color .5s ease-in-out, background .5s ease-in-out;
    z-index: 5;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
#logo{
    margin: 0px 20px;
    font-size: 1.5rem;
    align-self:center;
    justify-self:start;
    padding-inline-start: 15%;

}
.container>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu, .menu>a{
    color: azure;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    z-index: 1;
}
.container-medio{
    grid-column: 2/3;
    width: 100%;
    height: 25%;
    align-self:center;
    justify-self:center;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    overflow: hidden;
}
.container-medio>h1{
    text-transform: uppercase;
    line-height: 5rem;
    text-align: center;
    font-size: 3.8rem; 
}
.key-phrases{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0% 3%;
}
#background-vid{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: videoFadeIn 2s ease-out 1;
    z-index: -5;
}
#background-vid video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vw;
    min-height: 100vh;
    min-width: 177.77vh;
    transform: translate(-50%,-50%);
}
#scroll-me {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 40px;
    opacity: .35;
    transform: translateX(-50%);
    animation: highlightScroll 1s ease-in-out infinite alternate;
    transition: opacity .25s ease-in-out, animation .25s ease-in-out;
    z-index: 3;
}
.scroll-dot{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(50%);
    transform-origin: 0px 0px;
    animation: circleScroll 2s cubic-bezier(.65,-.55,.25,1.5) infinite;
}

section{
    background-color: rgb(100, 0, 154);
}

footer{
    background-color: rgb(8, 145, 99);
}






/*ANIMATION TRANSITIONS*/
@keyframes initializeHeader {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes highlightScroll{
    0%, 50% {
        opacity: .35;
    }
    100% {
        opacity: 1;
    }
}
@keyframes videoFadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes circleScroll{
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }    
}