

.body-formulario {
  background-image: url(/img-form/imagereader.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  grid-template-columns: repeat(5, 20%);
  
}

h2{
    margin-top: 200px;
    grid-column: 2/5;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

.formulario{
    grid-column: 2/5;
    display: grid;
    /* justify-content: center; */
    gap: 10px;
    margin: 0;
    grid-template-areas: 
    'nombre ap'
    'loc loc'
    'mail tel'
    'com com'
    'com com'
    'env borrar';
    max-width: 80%;
    
}

input{
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    line-height: 3rem;
    font-size: 1rem;
}
textarea{
    border: none;
    border-radius: 5px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
}
button{
    background-color: rgba(230,230,255,0.8); /* Color de fondo para el botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: 80%;

}
.nombre-form{
    grid-area: nombre;
    
}
.apellido-form{
    grid-area: ap;
}
.localidad-form{
    grid-area: loc;
}
.email-form{
    grid-area: mail;
}
.tel-form{
    grid-area: tel;
}
.comentarios-form{
    grid-area: com;
}
.enviar-form{
    grid-area: env;
}
.borrar-form{
    grid-area: borrar;
}
.error{
    color: rgb(231, 220, 216);
    display: block;
}
.invalid{
    border: solid rgb(41, 4, 4) 5px;
    box-shadow: 0 0 10px darkgray;

}